body {
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    box-sizing: border-box;
    font-family: 'Roboto';
    font-weight: 700;
    margin: 0;
    Width:1366px;
    Height: 768px;
    background-image: url(../foto/background\ 1.png);
    background-size: cover;
}
                         /* header */

.header {
    display: flex; 
}
.logo {
    background: url(../foto/logo\ 3.svg);
    width: 53px;
    height: 47px;
    margin: 51px 4px 13px 161px; 
    
}
.logo:hover {
    background: url(../foto/logo\ 2.svg);
    transition-duration: 0.5s;   
}
.header-blok-logo {
    display: flex;
    flex-direction: column;
    margin: 51px 608px 10px 8px;
}
.header-blok-contakt {
    font-weight: 400;
    display: flex;
    flex-direction: column;
    margin: 46px 173px 0 0;
    align-content: space-around;
    text-align: end;
    align-items: flex-end;
}
.header-blok-logo > a:hover {
    color: #F26522;
}
.header-blok-contakt > a:hover {
    color: #F26522;
}
.milan {
    width: 140px;
    height: 30px;
    color: #ffffff;
    font-size: 29px;  
}
.holidays { 
    width: 135px;
    height: 21px;
    color: #ffffff;
    font-size: 18px;
}
.email {
    width: 219px;
    height: 21px;
    color: #ffffff;
    font-size: 18px;  
}
.tel {
    width: 146px;
    height: 21px;
    margin: 19px 0px 0px 0px; 
    color: #ffffff;
    font-size: 18px;
}
.logo:hover {
text-shadow: #F26522;
}

                               /* main */


.nav-link {
    width: 300px;
    height: 220px;
}
.main-nav {
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    color: #ffffff;
    height: 619px;
}
 .main-text {
    margin: 20px;
    text-align: center;
}
.nav-item1 {
    margin: 12px 31px 18px 165px;
}
.nav-item2 {
    margin: 12px 31px 18px 30px ;
}
.nav-item3 {
    margin: 12px 31px 18px 31px ;
}
.nav-item4 {
    margin: 0 32px 128px 163px;
}
.nav-item5 {
    margin: 0 31px 128px 32px ;
}
.nav-item6 {
    margin: 0 32px 128px 32px ;
}
.die-item1 {
    display: inline-block;
    font-weight: 400;
    background-color: #F26522;
    width: 300px;
    height: 55px;
    position: absolute;
    left: 165px;
    top: 287px;
    color: #ffffff;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s, opacity 0.5s linear;
}
.nav-item1:hover .die-item1 {
    visibility: visible;
    opacity: 1;
}
.nav-item1:hover .main-text {
    color: #F26522;
    transition-duration: 0.5s;
}
.die-item2 {
    display: inline-block;
    font-weight: 400;
    background-color: #F26522;
    width: 294px;
    height: 55px;
    position: absolute;
    left: 529px;
    top: 280px;
    color: #ffffff;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s, opacity 0.5s linear;
}
.nav-item2:hover .die-item2 {
    visibility: visible;
    opacity: 1;
}
.nav-item2:hover .main-text {
    color: #F26522;
    transition-duration: 0.5s;
}
.die-item3 {
    display: inline-block;
    font-weight: 400;
    background-color: #F26522;
    width: 297px;
    height: 55px;
    position: absolute;
    left: 890px;
    top: 287px;
    color: #ffffff;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s, opacity 0.5s linear;
}
.nav-item3:hover .die-item3 {
    visibility: visible;
    opacity: 1;
}
.nav-item3:hover .main-text {
    color: #F26522;
    transition-duration: 0.5s;
}
.die-item4 {
    display: inline-block;
    font-weight: 400;
    background-color: #F26522;
    width: 299px;
    height: 55px;
    position: absolute;
    left: 163px;
    top: 591px;
    color: #ffffff;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s, opacity 0.5s linear;
}
.nav-item4:hover .die-item4 {
    visibility: visible;
    opacity: 1;
}
.nav-item4:hover .main-text {
    color: #F26522;
    transition-duration: 0.5s;
}
.die-item5 {
    display: inline-block;
    font-weight: 400;
    background-color: #F26522;
    width: 300px;
    height: 55px;
    position: absolute;
    left: 527px;
    top: 591px;
    color: #ffffff;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s, opacity 0.5s linear;
}
.nav-item5:hover .die-item5 {
    visibility: visible;
    opacity: 1;
}
.nav-item5:hover .main-text {
    color: #F26522;
    transition-duration: 0.5s;
}
.die-item6 {
    display: inline-block;
    font-weight: 400;
    background-color: #F26522;
    width: 300px;
    height: 55px;
    position: absolute;
    left: 890px;
    top: 591px;
    color: #ffffff;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s, opacity 0.5s linear;
}
.nav-item6:hover .die-item6 {
    visibility: visible;
    opacity: 1;
}
.nav-item6:hover .main-text {
    color: #F26522;
    transition-duration: 0.5s;
}
.die-link1 {
    font-size: 10px;
    position: relative;
    left: 16px;
    top: 7px;
}
.die-link2 {
    font-size: 20px;
    position: relative;
    left: 16px;
    top: 8px;
}
.die-link3 {
    font-size: 14px;
    position: relative;
    left: 180px;
    top: -12px;
}
.die-link3::after{
    content: '>';
    margin: 0 16px;
}
                               /* footer */

.footer {
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}